@model CK.Models.SalesParameters;
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!Doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <link href="~/css/test1.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/js/bootstrap.min.css">
    <link rel="stylesheet" href="~/fonts/font-awesome-4.7.0/fonts">
    <script>
        var preventBack = @Html.Raw(Json.Serialize(ViewData["PreventBack"] ?? false));
        if (preventBack) {
            window.history.pushState(null, "", location.href);
            window.onpopstate = function () {
                window.history.pushState(null, "", location.href);
            };
        }
    </script>
    <style>
        .main-footer
        {
            display:none;
        }
    </style>
</head>
<body class="hold-transition @* sidebar-mini layout-fixed *@">
    <script src="/js/sweetalert2@11"></script>
    <script>
        var warningMessage = '@ViewBag.WarningMessage';
        console.log(warningMessage);
        if (warningMessage === "Good") {
            window.addEventListener('load', function () {
            Swal.fire({
                    title: "Good, You upload Invoice Successfully",
                icon: "success",
                timer: 5500
            });
            });
        }
        else if (warningMessage === "PO already Exists in EasySoft") {
            window.addEventListener('load', function () {
                // Use SweetAlert2 to display the alert
                Swal.fire({
                    title: "Did you upload it before?",
                    text: "PO already Exists in EasySoft",
                    icon: "question"
                });
            });
        }
        else if (warningMessage !=''){
            window.addEventListener('load', function () {
                Swal.fire({
                    text: warningMessage,
                    icon: "question",
                    timer: 1000000
                });
            });
        }
        else if (warningMessage!='') {
            window.addEventListener('load', function () {
                // Use SweetAlert2 to display the alert
                Swal.fire({
                    title: "Check Date of Invoice",
                    text: warningMessage,
                    icon: "question"
                });
            });
        }
    </script>
    @*     @ViewBag.Username
    *@
    <div class="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <div class="row" style="display: block; margin:0 1px">
        <div class="col-md-3">
            <div class="card card-primary collapsed-card" style="width:1500px" id="filterCard">
                <div class="card-header card-title" data-card-widget="collapse" style="color: #034C96;border:1px solid #0000004d;background-color:#0000000f">
                    <h3 class="card-title">Filtering</h3>
                    <div class="card-tools">
                    </div>
                </div>
                <div class="card-body" style="display:block; padding: 20px;transition:max-height 5s ease-in-out;">
            <a asp-controller="Accounts" asp-action="DisplayUploadedInvoices" class="btn btn-primary" style="font-weight:bold"> Display Uploaded Invoices</a>
            <form id="exportForm" asp-controller="Accounts" asp-action="AESGetInv" method="post">
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <section class="col-lg-7 ">
                                <div class="col-md-3">
                                   
                                    <li class="Displayliselect" style="display:none">
                                        <label style="font-weight:bold;font-size:18px">Date:</label>
                                        <input type="date" name="start" id="startDate" style="margin-bottom:5px" class="FilterSelect form-control" />
                                    </li><li class="Displayliselect">
                                        <label style="font-weight:bold;font-size:18px">Sales Order:</label>
                                            <input type="text" style="margin-bottom:5px" name="PO" id="PO" class="FilterSelect form-control" />
                                    </li>
                                </div>
                            </section>
                        </div>
                        <button type="submit" id="DisplayButton" class="btn btn-primary">Upload</button>
                    </div>
                </section>
            </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script>
        // Retrieve saved start date on initial load
        const savedStartDate = localStorage.getItem('startDate');
        if (savedStartDate) {
            document.getElementById('startDate').value = savedStartDate;
        }
        // // Event listener for the Display button
        DisplayButton.addEventListener('click', function (event) {
            event.preventDefault();
            var username = '@ViewBag.Username';
            let timerInterval;
            Swal.fire({
                title: "Dear ," + username + " Wait Report ",
                html: "Wait Report will be shown <b></b> milliseconds.",
                timer: 1000000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading();
                    const timer = Swal.getPopup().querySelector("b");
                    timerInterval = setInterval(() => {
                        timer.textContent = `${Swal.getTimerLeft()}`;
                    }, 100);
                },
                willClose: () => {
                    clearInterval(timerInterval);
                }
            }).then((result) => {
                /* Read more about handling dismissals below */
                if (result.dismiss === Swal.DismissReason.timer) {
                    console.log("I was closed by the timer");
                }
            });
            // exportButton.disabled = true;
            submitExportForm(); // Submit the export form
        });
        function submitExportForm() {
            var startDateValue = document.getElementById('startDate').value;
            localStorage.setItem('startDate', startDateValue);
            // Clear the input field after savin
            document.getElementById('startDate').value = startDateValue;
            exportForm.submit(); // Submit the export form

            // Set up an interval to check export status periodically
        }
    </script>
</body>
</html>